<%= render partial: 'common/header'%>



<ol class="ml-5">
<% @sellers.each do |seller|%>
<li>
<%= seller.name %>
<em><%= seller.phoneNumber %></em>
<em> <a href="/sellers/<%= seller.id %>">see all listings</a></em>

</li>
<%end%>
</ol>
<%= debug @sellers %>
<%= render partial: 'common/footer'%>