<%= render partial: 'common/header'%>
<h1>New cars Sales</h1>
<div class = "columns">
  <div class = "column">
    <%= form_with(url: search_cars_path , method: :get, local: true) do %>
      <div class= "field is-grouped mb-5">
        <div class= "control is-expanded">
          <%= text_field_tag(:keywords, nil ,class: "input", placeholder: "Find the right Car")%>
          <div class="form_row">
          <label> Search by:</label>
            <%= radio_button_tag(:search_type,"Description", true)%>
            <label >Description</label>
            <%= radio_button_tag(:search_type, "VIN", false)%>
            <label>VIN</label>
            <%= radio_button_tag(:search_type,"Price",false )%>
            <label >Price</label>
          </div>
        </div>
      </div>
      <div class="control">
        <%= submit_tag("Search" , class: "button is-priamry")%>
      </div>
    <%end%>
  </div>
</div>



<ol class="ml-5">
<% @cars.each do |car|%>
<li>
<%= car.price %>
<em><%= car.odometer %></em>
<em><%= link_to "show", car_path(car) %></em>
</li>
<%end%>
</ol>
<%= paginate @cars %>
<%= page_entries_info @cars %>

<%= render partial: 'common/footer'%>