<h2 class= "title is 2">

<%= movie.title%>

<article class="message is-dark">
<div class="message-header">
<p>Description</p>
</div>
<div class="message-body">
<%= movie.description%>
</div>
<article>

<p class = 'md-5'>
<strong>Price  </strong>
<%= movie.Price%>
</p>
<p>
<strong>Condition</strong>
<%= movie.Condition%>
</p>
<p>
<strong>VIN </strong>
<%= movie.VIN%>
</p>
<p>
<strong>Production company</strong>
<%= movie.production_company.name%>
</p>