<p style="color: green"><%= notice %></p>



<%= render partial: 'common/header'%>
<h1>Loaction</h1>

<div class = "columns">
<div class = "column">


<ol class="ml-5">
<% @loactions.each do |loaction|%>
<li>
<%= loaction.state %>
<em><%= loaction.region %></em>
<em> <a href="/loactions/<%= loaction.id %>">show on map</a></em>
</li>
<%end%>

</ol>
<%= paginate @loactions %>
<%= page_entries_info @loactions %>




</div>
</div>
<%= render partial: 'common/footer'%>



