
<header>
<h2 class = "column" > Jake Website</h2>
<ol class="mt-5">
  <li><%= link_to "Home", root_path%>  <%= link_to "Cars", cars_path() %> Car Models <%= link_to "Sellers", sellers_path() %> <%= link_to "Car locations", loactions_path() %>   <% cms_pages.each do |page| %>
  <%= link_to page.title, '/home/About' %>
  <% end %></li>
</ol>
</header>